@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400&display=swap");

body {
  font-family: poppins, sans-serif;
}

.createForm {
  background-color: #87d37c;
  width: 20vw;
  padding: 17px;
  height: fit-content;
  border-radius: 5px;
}

.container {
  display: flex;
  gap: 5px;
}

.createForm p {
  background-color: #fffec4;
  width: fit-content;
  padding: 0 2px;
  font-size: 12px;
}

button {
  width: 100%;
  height: 25px;
}

.createForm input {
  width: 97%;
  padding: 4px;
  margin: 8px 0;
  border: none;
}
